# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.proiecte_personale.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lenovo\RiderProjects\proiecte_personale\.idea\.idea.proiecte_personale.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
